@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

.slick-track {
  display: flex;
}

.slick-list {
  margin-right: 16px;
  margin-left: 16px;
}

.slick-initialized .slick-slide {
  display: flex;
  > div {
    width: 100%;
    text-align: -webkit-center;
  }
}

.slick-slide {
  justify-content: center;
  height: auto;
  margin-right: 16px;
  margin-left: 16px;
  > div > div {
    height: 100%;
  }
  @media (max-width: 700px) {
    margin-right: 1px;
    margin-left: 1px;
  }
}

.slick-dots {
  bottom: -50px;
}
